{% extends 'base.html' %} <!-- base.html 상속 선언 -->

{% block contents %}
<body>
    <div class="container">
        <br><br>
        {% for blog in posts %}
        <div class="card">
            <h3 class="card-header">{{blog.title}}</h3>
            <div class="card-body">
                <p class="card-title">{{blog.pub_date}}</p>
                <hr>
                <p class="card-text">{{blog.summary}}...</p>
                <a href="{%url 'detail' blog.id%}" class="btn btn-primary">...more</a>
            </div>
        </div>
        <br><br>
        {% endfor %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">First</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}

                <!-- <li class="page-item"><a class="page-link" href="?page={{posts.number}}">{{posts.number}}</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">of</a></li>
                <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">{{posts.paginator.num_pages}}</a></li> -->

                {% for i in range %}
                <li class="page-item">
                    <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>                    
                </li>
                {% endfor %}

                {% if posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">Last</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">Last</a></li>
                {% endif %}
            </ul>            
        </nav>    
    </div>

</body>
{% endblock %}