{% extends 'base.html' %}

{% block contents %}
<br>

<div class="container bg-light">

    <p class="text-danger text-center">{{error}}</p>

    <form class="px-4 py-3" method="POST" action="{% url 'login' %}">
        <!-- 보안을 위해 사용하는 난수 발생기이며 csrf(사이트간 요청위조) 공격을 방어하는 수단 -->
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleDropdownFormEmail1">Username</label>
            <input name="username" type="text" class="form-control" placeholder="username">
        </div>
        <div class="form-group">
            <label for="exampleDropdownFormPassword1">Password</label>
            <input name="password" type="password" class="form-control" placeholder="Password">
        </div>
        <!-- <div class="form-group">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                <label class="form-check-label" for="dropdownCheck">
                    Remember me
                </label>
            </div>
        </div> -->
        <hr>
        <p align="middle"><button type="submit" class="btn btn-dark" value="Login">Login</button></p>
    </form>
    <!-- <div class="dropdown-divider"></div> -->
    <hr>
    <a class="dropdown-item" href="{% url 'signup' %}">New around here? Sign up</a>
    <!-- <a class="dropdown-item" href="#">Forgot password?</a> -->
</div>
{% endblock %}